p {
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: blah;
}
